[submodule "poky"]
	path = poky
	url = git://git.yoctoproject.org/poky
	branch = dunfell
[submodule "meta-raspberrypi"]
	path = meta-raspberrypi
	url = git://git.yoctoproject.org/meta-raspberrypi
[submodule "poky-container"]
	path = container
	url = https://github.com/crops/poky-container.git
[submodule "meta-openembedded"]
	path = meta-openembedded
	url = git://git.openembedded.org/meta-openembedded
